/* Rysuje prostokąt po lewej stronei ekranu z zaokrąglonymi bokami*/
.rectangle {
    width: 600px; /* Szerokość prostokąta */
    height: 800px; /* Wysokość prostokąta */
    background-color: white; /* Kolor prostokąta */
    border-radius: 60px; /* Zaokrąglone rogi */
    position: absolute; /* Pozycjonowanie absolutne */
    top: 100px; /* Odległość od górnej krawędzi strony */
    left: 50px; /* Odległość od lewej krawędzi strony */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    padding: 20px; /* Wewnętrzne odstępy */
    text-align: center; /* Wyśrodkowanie tekstu w poziomie */
    color: #719237; /* Kolor zielony */
}

/* Styl dla Slider 1 */
#slider1 {
    position: absolute;
    top: 130px;
    left: 800px;
    width: 500px;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Styl dla Slider 2 */
#slider2 {
    position: absolute;
    top: 130px;
    left: 1300px;
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Styl dla Slider 3 */
#slider3 {
    position: absolute;
    bottom: 75px;
    left: 1300px;
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: auto;
}

        /* Styl tekstu */
        .diet-text {
    font-size: 20px;
    line-height: 1.8; /* Odstępy między liniami */
    margin: 0;
    font-family: serif, sans-serif; /* Czcionka */
}

.katering-text {
    font-size: 45px; /* Rozmiar nagłówka */
    line-height: 1.8; /*odstepy miedzy linijkami*/
    letter-spacing: 7px; /*odstep miedzy literami*/
    margin: 0;
    font-family: serif;
}

.auth-links {
    display: flex;
    justify-content: flex-end; /* Wyrównuje elementy do prawej */
    gap: 10px; /* Odstępy między przyciskami */
}

.btn-custom {
    color: #F6FCDF; /* Kolor tekstu */
    border: 2px solid #F6FCDF; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglone rogi */
    padding: 5px 15px; /* Wewnętrzny odstęp */
    text-decoration: none; /* Usuń podkreślenie */
    font-size: 14px; /* Rozmiar tekstu */
    transition: background-color 0.3s, color 0.3s; /* Płynna zmiana koloru */
    text-align: right; /* Wyrównanie tekstu do prawej */
    display: block; /* Upewnia się, że styl text-align działa */
}

    .btn-custom:hover {
        background-color: #c2c5aa; /* Kolor t?a po najechaniu */
        color: #669933; /* Kolor tekstu po najechaniu */
    }

/* dodanie efektów do głownych ikonek, menu główne itp*/
.mianLayout-custom {
    color: #F6FCDF; /* Kolor tekstu */
    padding: 5px 15px; /* Wewn?trzny odst?p */
    text-decoration: none; /* Usu? podkre?lenie */
    font-size: 14px; /* Rozmiar tekstu */
    transition: background-color 0.3s, color 0.3s; /* P?ynna zmiana koloru */
}

.container-fluid {
    display: flex;
    justify-content: space-between; /* Rozdziela sekcje na lewej i prawej stronie */
    align-items: center; /* Wyrównuje elementy w pionie */
    width: 100%; /* Rozciąga na całą szerokość */
}


