@page "/"

@inject IJSRuntime JS

    <div class="container-fluid d-flex justify-content-end align-items-center">
        <!-- Sekcja po prawej stronie -->   
<<<<<<< HEAD
            <a href="/login" class="btn-custom mx-3">Zaloguj się</a>
            <a href="/register" class="btn-custom mx-3">Zarejestruj się</a>
        <!-- Testowy przycisk do raportow.  By dzialalo trza odpalic  -->
            <a href="/raports" class="btn-custom mx-3">Raporty</a>
=======
            @* <a href="/login" class="btn-custom mx-3">Zaloguj się</a>
            <a href="/register" class="btn-custom mx-3">Zarejestruj się</a> *@
        <!-- Testowy przycisk do raportow.  By dzialalo trza odpalic Scripts/disc/main.exe -->
            <!--<a href="/raports" class="btn-custom mx-3">Raporty</a>-->
>>>>>>> 4f91608834074303b3959fe00ea93ba0c785ee51
    </div>

<div class="rectangle">
    <!-- Wiersze siatki z wyróżnionymi literami w prostokącie -->
    <p class="katering-text"><b>DAJ PONIEŚĆ SIĘ MAGII IDEALNIE PRZYRZYĄDZONYCH POSIŁKÓW<br><br></b></p>
    <p class="diet-text">
        Witaj w miejscu, gdzie smak jest sztuką, a każde danie to małe dzieło magii.
        Tworzymy posiłki, które zachwycają jakością i różnorodnością, dostosowane do Twoich potrzeb.
        Zaufaj naszym kulinarnym mistrzom i odkryj nowy wymiar smaku!
    </p>
</div>

@* <div class="container my-5">
    <div class="row">
        <!-- Pierwszy rząd obrazków -->
        <div class="col-md-6">
            <img src="/jedzenieMainPage1.jpg" alt="Opis obrazka 1" class="img-fluid image" >
        </div>
        <div class="col-md-6">
            <img src="/jedzenieMainPage2.jpg" alt="Opis obrazka 2" class="img-fluid image">
        </div>
    </div>
    <div class="row">
        <!-- Drugi rząd obrazków -->
        <div class="col-md-6">
            <img src="/jedzenieMainPage3.jpg" alt="Opis obrazka 3" class="img-fluid image">
        </div>
        <div class="col-md-6">
            <img src="/jedzenieMainPage4.jpg" alt="Opis obrazka 4" class="img-fluid image">
        </div>
    </div>
</div> *@

<!-- Slider 1 -->
<div class="image-slider" id="slider1">
    <img src="/obiad1.jpg" class="slider-image" alt="Slider 1 Image">
</div>

<!-- Slider 2 -->
<div class="image-slider" id="slider2">
    <img src="/deser1.jpg" class="slider-image" alt="Slider 2 Image">
</div>

<!-- Slider 3 -->
<div class="image-slider" id="slider3">
    <img src="/kanapka1.jpg" class="slider-image" alt="Slider 3 Image">
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        {
            await JS.InvokeVoidAsync("initializeSlider", "slider1", new[] { "/obiad1.jpg", "/obiad2.jpg", "/obiad3.jpg", "/obiad4.jpg" });
            await JS.InvokeVoidAsync("initializeSlider", "slider2", new[] { "/deser1.jpg", "/deser2.jpg" });
            await JS.InvokeVoidAsync("initializeSlider", "slider3", new[] { "/kanapka1.jpg", "/kanapka2.jpg" });
        }
    }
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        initializeSlider('slider1', [
            '/obiad1.jpg',
            '/obiad2.jpg',
            '/obiad3.jpg',
            '/obiad4.jpg'
        ]);
        initializeSlider('slider2', [
            '/deser1.jpg',
            '/deser2.jpg'
        ]);
        initializeSlider('slider3', [
            '/kanapka1.jpg',
            '/kanapka2.jpg'
        ]);
    });

    function initializeSlider(sliderId, images) {
        let currentIndex = 0;
        const imgElement = document.querySelector(`#${sliderId} .slider-image`);
        imgElement.src = images[0];  // Ustawienie początkowego obrazu

        setInterval(() => {
            currentIndex = (currentIndex + 1) % images.length;
            imgElement.src = images[currentIndex];
        }, 5000); // Zmiana obrazka co 5 sekund
    }
</script>
