@page "/"

<div class="top-row d-flex align-items-center">
    <!-- Dodaj centralny układ paska -->
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Miejsce na logo lub inne elementy z lewej strony (opcjonalne) -->
        <div>
            <span class="logo-text">Katering Wieża Magów</span>
        </div>

        <!-- Sekcja po prawej stronie -->
        <div class="d-flex auth-links">
            <a href="/login" class="btn-custom mx-3">Zaloguj się</a>
            <a href="/register" class="btn-custom mx-3">Zarejestruj się</a>
        </div>
    </div>
</div>

<div class="rectangle">
    <!-- Wiersze siatki z wyróżnionymi literami -->
    <p class="katering-text"><b>DAJ PONIEŚĆ SIĘ MAGII IDEALNIE PRZYRZYĄDZONYCH POSIŁKÓW<br><br></b></p>
    <p class="diet-text">
        Witaj w miejscu, gdzie smak jest sztuką, a każde danie to małe dzieło magii.
        Tworzymy posiłki, które zachwycają jakością i różnorodnością, dostosowane do Twoich potrzeb.
        Zaufaj naszym kulinarnym mistrzom i odkryj nowy wymiar smaku!
    </p>
</div>

@code {

}
