/* Rysuje prostokąt po lewej stronei ekranu z zaokrąglonymi bokami*/
.rectangle {
    width: calc(33.33vw); /* 1/3 szerokości ekranu */
    height: calc(85vh); /* Cała wysokość ekranu minus marginesy (opcjonalne) */
    background-color: white; /* Kolor prostokąta */
    border-radius: 60px; /* Zaokrąglone rogi */
    position: absolute; /* Pozycjonowanie absolutne */
    top: 10%; /* Odległość od górnej krawędzi strony */
    bottom: 10%;
    left: 50px; /* Odległość od lewej krawędzi strony */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    padding: 20px; /* Wewnętrzne odstępy */
    text-align: center; /* Wyśrodkowanie tekstu w poziomie */
    color: #719237; /* Kolor zielony */
    display: flex;
    flex-direction:column; /* Kolumnowe rozmieszczenie elementów */
    justify-content: space-between; /* Ustawia elementy na dwóch połowach */
}

.katering-text {
    font-size: 2.5vw; /* Rozmiar nagłówka */
    line-height: 1.8; /* Odstępy między liniami */
    letter-spacing: 7px; /* Odstęp miedzy literami */
    margin: 0;
    font-family: serif;
    display: flex;
    justify-content: center; /* Wyśrodkowanie tekstu w poziomie */
    align-items: flex-start; /* Wyrównanie tekstu do góry */
    flex: 1; /* Pierwsza połowa */
    padding-top: 10px;
}

/* Nowy kontener dla dolnej części */
.lower-section {
    display: flex; /* Flexbox dla dolnej części */
    flex-direction: column; /* Ustawienie elementów jeden pod drugim */
    justify-content: flex-start; /* Ustawia elementy od góry */
    align-items: center; /* Wyśrodkowanie zawartości w poziomie */
    flex: 1; /* Zajmuje dolną przestrzeń */
    width: 100%; /* Pełna szerokość dolnej sekcji */
    padding-top: 10px; /* Przestrzeń między tekstem a przyciskami */
}

/* Styl tekstu */
.diet-text {
    font-size: 20px;
    line-height: 2; /* Odstępy między liniami */
    margin: 0;
    font-family: serif, sans-serif; /* Czcionka */
    display: flex;
    justify-content: center; /* Wyśrodkowanie tekstu w poziomie */
    align-items: center; /* Wyśrodkowanie tekstu w pionie */
    position: relative;
    top: -10%; /* Przesunięcie tekstu w górę */
}

/* Kontener przycisków */
.button-container {
    display: flex;
    
    gap: 15px; /* Odstęp między przyciskami */
   
    padding-top: 30px; /* Odstęp od górnej części */
    margin-top: 10%;
}

/* Styl przycisków */
.btn-action {
    background-color: #719237; /* Kolor przycisku */
    color: white; /* Kolor tekstu */
    border-radius: 10px; /* Mniejsze zaokrąglenie rogów */
    padding: 10px 20px; /* Wewnętrzne odstępy */
    font-size: 1vw; /* Rozmiar tekstu zależny od szerokości ekranu (proporcjonalny) */
    font-weight: bold; /* Pogrubienie tekstu */
    cursor: pointer; /* Zmień kursor na "rękę" */
    border: none;
    transition: background-color 0.3s ease; /* Płynna zmiana koloru tła i obwódki */
    min-width: 150px; /* Minimalna szerokość przycisku */
}

    .btn-action:hover {
        background-color: #719237; /* Ciemniejszy zielony przy najechaniu */
    }

/* Styl dla Slider 1 */
#slider1 {
    position: absolute;
    top: 13%;
    left: 40%;
    width: calc(50vw); /* 1/3 szerokości ekranu */
    height: calc(80vh); /* Cała wysokość ekranu minus marginesy (opcjonalne) */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: auto;
}

.auth-links {
    display: flex;
    justify-content: flex-end; /* Wyrównuje elementy do prawej */
    gap: 10px; /* Odstępy między przyciskami */
}

.btn-custom {
    color: #F6FCDF; /* Kolor tekstu */
    border: 2px solid #F6FCDF; /* Obramowanie */
    border-radius: 5px; /* Zaokrąglone rogi */
    padding: 5px 15px; /* Wewnętrzny odstęp */
    text-decoration: none; /* Usuń podkreślenie */
    font-size: 14px; /* Rozmiar tekstu */
    transition: background-color 0.3s, color 0.3s; /* Płynna zmiana koloru */
    text-align: right; /* Wyrównanie tekstu do prawej */
    display: block; /* Upewnia się, że styl text-align działa */
}

    .btn-custom:hover {
        background-color: #c2c5aa; /* Kolor t?a po najechaniu */
        color: #669933; /* Kolor tekstu po najechaniu */
    }

/* dodanie efektów do głownych ikonek, menu główne itp*/
.mianLayout-custom {
    color: #F6FCDF; /* Kolor tekstu */
    padding: 5px 15px; /* Wewn?trzny odst?p */
    text-decoration: none; /* Usu? podkre?lenie */
    font-size: 14px; /* Rozmiar tekstu */
    transition: background-color 0.3s, color 0.3s; /* P?ynna zmiana koloru */
}

.container-fluid {
    display: flex;
    justify-content: space-between; /* Rozdziela sekcje na lewej i prawej stronie */
    align-items: center; /* Wyrównuje elementy w pionie */
    width: 100%; /* Rozciąga na całą szerokość */
}


