@page "/"

    <div class="container-fluid d-flex justify-content-end align-items-center">
        <!-- Sekcja po prawej stronie -->   
            <a href="/login" class="btn-custom mx-3">Zaloguj się</a>
            <a href="/register" class="btn-custom mx-3">Zarejestruj się</a>
        <!-- Testowy przycisk do raportow -->
            <!--<a href="/raports" class="btn-custom mx-3">Raporty</a>-->
    </div>

<div class="rectangle">
    <!-- Wiersze siatki z wyróżnionymi literami w prostokącie -->
    <p class="katering-text"><b>DAJ PONIEŚĆ SIĘ MAGII IDEALNIE PRZYRZYĄDZONYCH POSIŁKÓW<br><br></b></p>
    <p class="diet-text">
        Witaj w miejscu, gdzie smak jest sztuką, a każde danie to małe dzieło magii.
        Tworzymy posiłki, które zachwycają jakością i różnorodnością, dostosowane do Twoich potrzeb.
        Zaufaj naszym kulinarnym mistrzom i odkryj nowy wymiar smaku!
    </p>
</div>

@code {

}
