.admin-nav-menu {
    background-color: #719237; /* Change this to your desired color */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.btn-custom {
    color: #FFFFFF; /* Text color */
    border: 2px solid #FFFFFF; /* Border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 15px; /* Inner padding */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Font size */
    transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
    text-align: center; /* Center text */
    display: inline-block; /* Ensure the button is inline-block */
    background-color: #719237; /* Background color */
}

.btn-custom:hover {
    background-color: #c2c5aa; /* Background color on hover */
    color: #333333; /* Text color on hover */
}