@inherits LayoutComponentBase

<div class="page">
    <div class="main-layout">      
        <!-- Pasek nawigacyjny -->
        <NavMenu />
        <!-- Sekcja strony -->
        <main>
            @Body
        </main>
    </div>
</div>
