@inherits LayoutComponentBase
@using Katering.Data.SessionState
@inject SessionState SessionState
@inject NavigationManager NavigationManager
@using Katering.Services
@inject CartService CartService

<div class="page">
    <div class="main-layout">   
        <div class="top-row d-flex align-items-center">
            <a href="/" class="logo-text">Katering Wieża Magów</a>
            @if (SessionState.IsLogged)
            {               
                    @if (SessionState.IsClient())
                    {
                        <!-- Links for logged in Clients -->
                    <div class="center-links">
                        <a class="btn-cust mx-3" href="/">Strona główna</a>
                        <a class="btn-cust mx-3" href="/meals">Menu</a>
                        <a class="btn-cust mx-3" href="/ratings">Opinie klientów</a>
                        <a class="btn-cust mx-3" href="/cart" @onclick="NavigateToCart">Koszyk</a>
                        <a class="btn-cust mx-3" href="/raports">Raporty</a>
                    </div>

                } else if (SessionState.IsAdministration())
                {
                    <!-- Links for logged in Admin -->
                    <div class="center-links">
                        <a class="btn-cust mx-3" href="/">Strona główna</a>
                        <a class="btn-cust mx-3" href="/meals">Dodaj użytkownika</a>
                        <a class="btn-cust mx-3" href="/cart">Raport</a>
                    </div>
                }else if (SessionState.IsContractor())
                {
                    <!-- Links for logged in Contractors -->
                    <div class="center-links">
                        <a class="btn-cust mx-3" href="/">Strona główna</a>
                        <a class="btn-cust mx-3" href="/meals">Dodaj usługę</a>
                        <a class="btn-cust mx-3" href="/cart">Raport</a>
                    </div>
                }else if (SessionState.IsModerator())
                {
                    <!-- Links for logged in Moderators -->
                    <div class="center-links">
                        <a class="btn-cust mx-3" href="/">Strona główna</a>
                        <a class="btn-cust mx-3" href="/meals">Dodaj menu</a>
                        <a class="btn-cust mx-3" href="/cart">Menu</a>
                    </div>
                }
                <div class="auth-links">
                    <a class="btn-name mx-3">Witaj @SessionState.User.Name</a>
                    <a class="btn-custom mx-3" @onclick="Logout">Wyloguj</a>
                </div>
            }
            else
            {
                <div class="auth-links">
                    <a class="btn-custom mx-3" href="/login">Zaloguj</a>
                    <a class="btn-custom mx-3" href="/register">Zarejestruj się</a>
                </div>
            }
        </div>
        
        <!-- Sekcja strony -->
        <main>
            @Body
        </main>
    </div>
</div>

@code {
    private void Logout()
    {
        SessionState.LogoutUser();
        NavigationManager.NavigateTo("/login", true);
    }

    private void NavigateToCart()
    {
        CartService.NavigateToCart();  // Use CartService to handle navigation
    }
}
