@inherits LayoutComponentBase

<div class="page" style="background-color: #719237; min-height: 100vh;">
    <div class="main-layout">
        <!-- Pasek nawigacyjny -->
        <NavMenu />

        <!-- Sekcja strony -->
        <main>
            @Body
        </main>
    </div>
</div>
