/*.top-nav {
    background-color: #ffffff;*/ /* T?o paska nawigacyjnego */
    /*padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/ /* Cie? dla paska */
    /*position: sticky;*/ /* Pasek pozostaje na górze */
    /*top: 0;
    z-index: 1000;*/ /* Wy?szy priorytet na warstwach */
/*}

.mainLayout-custom {
    color: #333;*/ /* Kolor tekstu */
    /*text-decoration: none;*/ /* Usu? podkre?lenie */
    /*font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

    .mainLayout-custom:hover {
        color: #719237;*/ /* Zmiana koloru po najechaniu */
    /*}*/
