.logo-text {
    color: #F6FCDF; /* Kolor tekstu logo */
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; /* Usuwa podkre?lenie */
    transition: color 0.3s ease; /* Dodaje efekt hover */
    text-transform: uppercase;
}

/* Kontener dla przycisków */
.auth-links {
    display: flex;
    gap: 15px; /* Odst?p mi?dzy przyciskami */
    margin-left: auto; /* Wypycha przyciski na praw? stron? */
}

.btn-custom {
    color: #F6FCDF; /* Kolor tekstu */
    border: 2px solid #F6FCDF; /* Obramowanie */
    border-radius: 5px; /* Zaokr?glone rogi */
    padding: 5px 15px; /* Wewn?trzny odst?p */
    text-decoration: none; /* Usu? podkre?lenie */
    font-size: 14px; /* Rozmiar tekstu */
    transition: background-color 0.3s, color 0.3s; /* P?ynna zmiana koloru */
    text-align: right; /* Wyrównanie tekstu do prawej */
    display: block; /* Upewnia si?, ?e styl text-align dzia?a */
}

    .btn-custom:hover {
        background-color: #c2c5aa; /* Kolor t?a po najechaniu */
        color: #669933; /* Kolor tekstu po najechaniu */
    }
/* Pasek górny */
.top-row {
    width: 100%; /* Pasek na ca?? szeroko?? strony */
    background-color: #628328; /* Kolor t?a paska górnego */
    padding: 10px 20px; /* Odst?py wewn?trzne */
    display: flex;
    position: sticky; /* Pozostaje na górze podczas przewijania */
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Delikatny cie? */
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
