<!-- Sekcja centralna na górze -->
@* <nav class="top-nav">
    <div class="d-flex justify-content-center w-100" style="margin-left: 150px;">
        <a href="/home" class="mainLayout-custom mx-3">Strona Główna</a>
        <a href="/offer" class="mainLayout-custom mx-3">Nasza Oferta</a>
        <a href="/faq" class="mainLayout-custom mx-3">Częste Pytania</a>
        <a href="/about" class="mainLayout-custom mx-3">O Nas</a>
    </div>
</nav> *@